<div class="create-account">
  <!-- Terms and condition modal-->
  <div
    class="modal fade"
    id="tcModal"
    data-bs-backdrop="static"
    tabindex="-1"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header text-light modalHead">
          <h4 class="modal-title" id="exampleModalLabel">
            <img
              src="../../assets/images/registerPage/Npontu-logo.png"
              style="vertical-align: center; width: 3em; margin-right: 8px"
            />NPONTU-TERMS AND CONDITIONS
          </h4>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div
          class="modal-body"
          style="
            font-family: Roboto, sans-serif;
            font-size: 14px;
            line-height: 1.57142857;
            color: #76838f;
          "
        >
          <h4 class="my-3">INTRODUCTION</h4>
          <mat-divider></mat-divider>
          <p class="my-4">
            These Terms and Conditions, forms the basis of the legal
            relationship between Npontu Technologies and all its clients who
            make use of this platform for both personal and professional
            reasons. It also incorporates the provisions of our Privacy Policy.
          </p>
          <h4 class="my-3">INTERPRETATION</h4>
          <mat-divider></mat-divider>
          <p class="my-4">
            App, Application or System - this refers to Npontu’s proprietary
            application that enables the sending of messages via multiple
            channels. Network Operator - means any party licensed to install,
            operate and maintain a cellular telephony network; Services - shall
            mean and include all products and services offered or provided to
            Users by BulkSMS, Email, etc. User - shall mean any natural or legal
            person who makes use of any of the Services or who uses or visits
            the application Privacy - means the protection of information that
            identifies and or concerns an individual or a group
          </p>
          <h4 class="my-3">SERVICES</h4>
          <mat-divider></mat-divider>
          <p class="my-4">
            <li>
              Npontu shall endeavour to make available uninterrupted use of its
              system and delivery of all messages sent using its application.
              However, the delivery of messages in this case SMS messaging is
              largely dependent on the effective functioning of Network
              Operators' cellular networks, network coverage and the recipient's
              mobile handset. Npontu does not and cannot guarantee the
              availability of any Service, the delivery of SMS messages or the
              compatibility between any message or content format and any mobile
              handsets or mobile operating systems.
            </li>
            <li>
              The various Network Operators may modify, enhance, develop or
              discontinue components of their services at any time without prior
              notice to us, in which event Npontu shall in turn modify, enhance,
              develop or discontinue with the affected Services to Users without
              notice.
            </li>
            <li>
              Npontu shall always endeavour to inform users of any updates,
              upgrades or downtimes to be experienced on its application in so
              far as it is reasonably practicable.
            </li>
            <li>
              Messages shall be deemed to have been delivered when Npontu has
              transmitted the messages to the appropriate network and has
              received feedback status on same.
            </li>
            <li>
              Npontu shall have the right to withhold, terminate or suspend the
              provision of Services to a User at any time if not doing so may
              affect the brand of Npontu or impact negatively on its services.
              The user shall not be refunded any cash in the stead of unused
              credit. Users are therefore cautioned against the below and others
              like it:
              <br />
              a)The sending of spam on the platform <br />
              b)The use of the system to terminate fraudulent messages <br />
              c)The use of the application for phishing <br />
              Users hereby indemnify Npontu against any fine imposed on Npontu
              or any damages suffered by Npontu because of any act or omission
              of the User that amounts to a breach of any law or code of conduct
              to which Npontu may be subject. Upon notification of any such fine
              or damages, Users agree to immediately pay the amount of such fine
              or damages to Npontu. Any amount not paid to Npontu within 48
              hours of notification thereof shall accrue interest at the
              prevailing commercial bank rate per annum.
            </li>
          </p>
          <h4 class="my-3">SECURITY</h4>
          <mat-divider></mat-divider>
          <p class="my-4">
            <li>
              To use the platform, a User is required to complete the
              registration process and must provide Npontu with up to date,
              complete and accurate information as requested by Npontu. Failure
              to provide accurate and complete information on registration may
              result in termination and deletion of the Users account. A User
              may also be required to choose a Username and password. Users are
              responsible for maintaining the confidentiality of their Usernames
              and passwords and Users undertake not to divulge their Username
              and passwords to any other person. A User is entirely responsible
              for all activities that occur in its account and shall be strictly
              liable to make payment of all charges incurred under its account
              whether these charges are incurred by the User or any other
              person, authorised or unauthorised, intentionally or
              unintentionally, or as a result of any virus, hack or security
              breach.
            </li>
            <li>
              Users agree to notify Npontu immediately of any unauthorized use
              of their account(s) or any other breach of security.
            </li>
            <li>
              In the event that a User wishes to replace the name, details,
              person/employee using a specific Npontu account of the User, and
              wishes to prevent the individual or person from accessing the
              account, the account holder shall inform Npontu in writing of this
              change and change all details on the account accordingly. Npontu
              may refuse to act on the instructions of an account holder where
              the account holder fails to provide sufficient proof of its
              identity as the account holder and the authority of the person
              purporting to represent it in making such a request and Npontu
              shall have no liability to the account holder or the individual
              person where it refuses to act in the absence of such proof, nor
              where it acts in good faith reliance of any information submitted
              to it in support of any such request made by any person purporting
              to represent the account holder, including in respect of any
              claims for breach of privacy, security or confidentiality.
            </li>
          </p>
          <h4 class="my-3">PRIVACY POLICY</h4>
          <p class="my-4">
            <li>
              Npontu will not intercept, monitor, copy or disclose any User
              messages or personal information about the User or the User's
              messaging account, phonebook or MSISDN's, other than in the normal
              course of the use of the Services, without the User's prior
              permission unless Npontu believes in good faith that such action
              is necessary to conform to legal requirements, to co-operate or
              comply with legal process, investigations, summonses, subpoenas
              and the like, to protect and defend the rights, property or
              legally protectable interest of Npontu, the User or other third
              party, to enforce any of the provisions of these terms and
              conditions or to protect Npontu's business or reputation. The User
              agrees that Npontu if necessary may access its account and message
              contents for the purposes described above without notice and to
              respond to service or technical issues the User may communicate
              from time to time.
            </li>
            <li>
              A recipient of a message has the right to know the identity of the
              sender, and this will be disclosed on request to the recipient.
            </li>
            <li>
              Users agree that Npontu may make use of app visits and
              non-identifiable account usage data for statistical, research and
              marketing purposes. In providing its services, Npontu shall not in
              its ordinary business process or share any data that allows any
              third party to identify any individual persons. In accepting these
              terms services, a user agrees that Npontu may use and share
              de-personalised data for purposes set out above.
            </li>
            <li>
              Users agree that they shall not violate any privacy laws,
              regulations or applicable codes of conduct relating to the
              protection of personal information of End Users
            </li>
            <li>
              Where, for the purpose of providing the Services to you, any
              Npontu Service acts as an Application Programming Interface
              ("API") for the purpose of specifying how different software
              systems should interact with each other, or where for that same
              purpose any Npontu Service interacts with other API's, including
              third party API's, we may pass and retrieve data, including
              personal information, between the different software systems and
              third parties that interact via those API's.
            </li>
            <li>
              We may communicate with User’s, resellers and other persons by
              email and other messaging applications. You may opt out from
              promotional and marketing communications.
            </li>
          </p>
          <p>
            For more information on our data protection policy or to report a
            breach please send mail to
            <a href="mailto:privacy@npontu.com">privacy@npontu.com</a>.
          </p>
          <div class="text-end">
            
            <form [formGroup]="acceptTandC">
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  formControlName="TermsAndConditions"
                  type="radio"
                  id="yes"
                  value="yes"
                />
                <label for="yes" class="form-check-label">Yes</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  formControlName="TermsAndConditions"
                  type="radio"
                  id="no"
                  value="no"
                />
                <label for="no" class="form-check-label">No</label>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button mat-flat-button color="primary" data-bs-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Registration form -->
  <div class="pt-5 pb-5">
    <div class="container pt-5">
      <div class="row col-md-12">
        <mat-card>
          <mat-card-title class="py-4"
            >Company / Individual Registration</mat-card-title
          >
          <mat-divider></mat-divider>
          <div class="py-4 text-center">
            <button
              mat-flat-button
              color="primary"
              (click)="TCbtnClicked()"
              data-bs-toggle="modal"
              data-bs-target="#tcModal"
            >
              TERMS & CONDITIONS
            </button>
          </div>
          <mat-divider></mat-divider>
      
          <form [formGroup]="registrationForm">
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4 py-3 text-center">
                <label for="account-type" class="form-label"
                  >Register As <span class="text-danger">*</span></label
                >
                <select
                  [class.is-invalid]="
                    getRegisterAs?.invalid && getRegisterAs?.touched
                  "
                  class="form-select"
                  formControlName="registerAs"
                >
                  <option
                    *ngFor="let account of accountType; let i = index"
                    [ngValue]="account"
                  >
                    {{ account }}
                  </option>
                </select>
                <div
                  *ngIf="getRegisterAs?.invalid && getRegisterAs?.touched"
                  class="my-1"
                >
                  <small class="text-danger"
                    >Choose account type from the options</small
                  >
                </div>
              </div>
              <div class="col-md-4"></div>
            </div>
            <div class="pb-5">
              <div class="row">
                <div class="col-md-6 form-group pb-3">
                  <label for="" class="form-label"
                    >Name Of Component / Individual
                    <span class="text-danger">*</span></label
                  >
                  <input
                    [class.is-invalid]="
                      getCompanyOrIndividualName?.invalid &&
                      getCompanyOrIndividualName?.touched
                    "
                    type="text"
                    class="form-control"
                    formControlName="companyOrIndividualName"
                  />
                  <div
                    *ngIf="
                      getCompanyOrIndividualName?.invalid &&
                      getCompanyOrIndividualName?.touched
                    "
                    class="my-1 text-center"
                  >
                    <small class="text-danger"
                      >Company or individual name is required</small
                    >
                  </div>
                </div>
                <div class="col-md-6 form-group pb-3">
                  <label for="" class="form-label"
                    >Nature of Business
                    <span class="text-danger">*</span></label
                  >
                  <select
                    [class.is-invalid]="
                      getNatureOfBusiness?.invalid &&
                      getNatureOfBusiness?.touched
                    "
                    class="form-select"
                    formControlName="natureOfBusiness"
                  >
                    <option
                      *ngFor="let nature of businessNature"
                      [ngValue]="nature"
                    >
                      {{ nature }}
                    </option>
                  </select>
                  <div
                    *ngIf="
                      getNatureOfBusiness?.invalid &&
                      getNatureOfBusiness?.touched
                    "
                    class="my-1 text-center"
                  >
                    <small class="text-danger"
                      >Choose from the options. <br />If none of the options
                      matches your business nature, choose "Other
                      services"</small
                    >
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 form-group pb-3">
                  <label for="" class="form-label"
                    >Business Location <span class="text-danger">*</span></label
                  >
                  <input
                    [class.is-invalid]="
                      getBusinessLocation?.invalid &&
                      getBusinessLocation?.touched
                    "
                    type="text"
                    class="form-control"
                    placeholder="Location, Region"
                    formControlName="businessLocation"
                  />
                  <div
                    *ngIf="
                      getBusinessLocation?.invalid &&
                      getBusinessLocation?.touched
                    "
                    class="my-1 text-center"
                  >
                    <small class="text-danger"
                      >The location of your business is required</small
                    >
                  </div>
                </div>
                <div class="col-md-6 form-group pb-3">
                  <label for="" class="form-label">
                    Company / Individual Phone number</label
                  >
                  <input
                    class="form-control"
                    type="tel"
                    placeholder="Registered MTN, AIRTELTIGO, VODAFONE, GLO"
                    formControlName="companyOrIndividualTelephone"
                  />
                  <div
                    *ngIf="getCompanyOrIndividualTelephone?.errors?.['minlength'] && getCompanyOrIndividualTelephone?.dirty"
                    class="my-1"
                  >
                    <small class="-4 px-2 bg-danger text-light rounded-pill">
                      Please enter a valid phone number
                    </small>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 form-group pb-3">
                  <label for="" class="form-label">Mobile Money Number</label>
                  <input
                    type="tel"
                    class="form-control"
                    placeholder="Mobile Money Number"
                    formControlName="mobileMoneyNumber"
                  />
                  <div class="row">
                    <div
                      [class.col-sm-8]="getMobileMoneyNumber?.dirty && !getMobileMoneyNumber?.errors?.['minlength'] && getMobileMoneyNumber?.value!=''"
                      class="text-center"
                    >
                      <div>
                        <small class="text-danger">
                          {{
                            "{ Credit purchased can be done on this number or changed upon credit purchasing }"
                          }}
                        </small>
                      </div>
                      <div>
                        <small
                          *ngIf="getMobileMoneyNumber?.dirty && getMobileMoneyNumber?.errors?.['minlength']"
                          class="text-light bg-danger px-2 rounded-pill"
                          >Please enter a valid phone number</small
                        >
                      </div>
                    </div>
                    <div
                      *ngIf="getMobileMoneyNumber?.dirty && !getMobileMoneyNumber?.errors?.['minlength'] && getMobileMoneyNumber?.value!=''"
                      class="col-sm-4 text-center mt-3"
                    >
                      <div
                        (click)="sendOTP()"
                        class="btn btn-dark"
                        style="font-size: 0.8em"
                      >
                        <a>Verify Momo Number</a>
                      </div>
                      <p class="text-dark">verify before proceeding</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 form-group pb-3">
                  <label for="" class="form-label"> Business Logo</label>
                  <input
                    class="form-control"
                    type="file"
                    accept="image/*"
                    formControlName="businessLogo"
                  />
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 form-group pb-3">
                  <label for="" class="form-label"
                    >Preferred Username
                    <span class="text-danger">*</span></label
                  >
                  <input
                    [class.is-invalid]="
                      getPreferredUsername?.invalid &&
                      getPreferredUsername?.touched
                    "
                    type="text"
                    class="form-control"
                    formControlName="preferredUsername"
                  />
                  <div
                    *ngIf="getPreferredUsername?.dirty && getPreferredUsername?.errors?.['minlength']"
                    class="my-1 text-center"
                  >
                    <small class="text-danger"
                      >Username must be at least 6 characters long</small
                    >
                  </div>
                </div>
              </div>
            </div>
            <mat-divider></mat-divider>
            <h3 class="form-label py-3">
              Contact Person Information <span class="text-danger">*</span>
            </h3>
            <div formGroupName="contactPersonInfo" class="row pb-3">
              <div class="col-md-6 form-group">
                <label for="" class="form-label"
                  >Name <span class="text-danger">*</span></label
                >
                <input
                  [class.is-invalid]="
                    getPersonName?.invalid && getPersonName?.touched
                  "
                  type="text"
                  class="form-control"
                  placeholder="Contact Person's Name"
                  formControlName="personName"
                />
                <div
                  *ngIf="getPersonName?.invalid && getPersonName?.touched"
                  class="my-1 text-center"
                >
                  <small class="text-danger">Person's name is required</small>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <label for="" class="form-label"
                  >Email <span class="text-danger">*</span></label
                >
                <input
                  [class.is-invalid]="getEmail?.invalid && getEmail?.touched"
                  type="text"
                  class="form-control"
                  placeholder="Contact Person's email"
                  formControlName="email"
                />
                <div
                  *ngIf="getEmail?.invalid && getEmail?.touched"
                  class="my-1 text-center"
                >
                  <small class="text-danger"
                    >Contact person's email address is required</small
                  >
                </div>
              </div>
            </div>

            <div formGroupName="contactPersonInfo" class="row pb-3">
              <div class="col-md-6 form-group">
                <label for="" class="form-label"
                  >Phone Number <span class="text-danger">*</span></label
                >
                <input
                  [class.is-invalid]="
                    getPhoneNumber?.invalid && getPhoneNumber?.touched
                  "
                  type="text"
                  class="form-control"
                  placeholder="Contact Person's phone"
                  formControlName="phoneNumber"
                />
                <small class="text-danger">
                  (All OTPs for verification will be sent to this number)
                </small>
                <small
                  *ngIf="getPhoneNumber?.errors?.['minlength'] && getPhoneNumber?.dirty"
                  class="-4 px-2 bg-danger text-light rounded-pill"
                >
                  Please enter a valid phone number
                </small>
                <small
                  *ngIf="getPhoneNumber?.errors?.['required'] && getPhoneNumber?.touched"
                  class="-4 px-2 bg-danger text-light rounded-pill"
                >
                  Personn's phone number is required
                </small>
              </div>
              <div class="col-md-6 form-group">
                <label for="" class="form-label">ID</label>
                <input
                  type="file"
                  class="form-control"
                  placeholder="Contact Person's email"
                  formControlName="id"
                />
              </div>
            </div>
          </form>
          <mat-divider></mat-divider>
          <div class="py-3" style="text-align: center">
            <button (click)="sendOTP()" mat-flat-button color="primary">
              <mat-icon aria-hidden="false">security</mat-icon>GET OTP
            </button>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
  <footer>
    <div class="copyright py-2">
      &copy; {{ copyrightyear }} <a href="http://npontu.com">Npontu</a>
    </div>
    <div class="ownership py-2">
      Powered by <a href="http://npontu.com">Npontu Technologies</a>
    </div>
  </footer>
</div>
