@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

.singleSMS {
  font-family: "Raleway", sans-serif !important;
  color: #76838f !important;
}
.form-label {
  font-size: 1em !important;
  font-weight: 500 !important;
}

.input-group-text{
  padding: 0 !important;
}

.mobile__wrapper {
  width: 340px;
  box-shadow: 2px 2px 20px rgba(17, 17, 17, 0.6);
  border-radius: 16px;
  border: 1px solid #111;
  overflow: hidden;
  margin: 50px auto 0;
}

.mobile__outline--top,
.mobile__outline--bottom {
  background-color: #111;
  height: 54px;
  margin: 0 auto;
  width: 340px;
  position: relative;
}
.mobile__outline--top:before, .mobile__outline--top:after,
.mobile__outline--bottom:before,
.mobile__outline--bottom:after {
  display: block;
  content: "";
  background-color: #666;
  position: absolute;
}

.mobile__outline--top {
  border-radius: 15px 15px 0 0;
}
.mobile__outline--top:before {
  width: 16px;
  height: 16px;
  border-radius: 30px;
  top: 19px;
  left: 130px;
}
.mobile__outline--top:after {
  width: 42px;
  height: 4px;
  border-radius: 30px;
  top: 25px;
  left: 158px;
}

.mobile__outline--bottom {
  border-radius: 0 0 15px 15px;
}
.mobile__outline--bottom:before {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  bottom: 12px;
  left: 155px;
}

.mobile__outline--body {
  border-left: 10px solid #111;
  border-right: 10px solid #111;
  box-sizing: border-box;
  margin: 0 auto;
  width: 340px;
  height: 568px;
}

.mobile__screen {
  border: 0;
  outline: none;
  overflow: hidden;
  width: 320px;
  height: 568px;
  margin: 0 auto;
  background: url(../../../../../assets/images/smsPage/phonebackground.jpg);
  background-size: contain;
}

.from-me {
  position: relative;
  padding: 10px 30px;
  color: white;
  background: #0B93F6;
  border-radius: 25px;
  float: right;
  margin-top: 8em;
}
.from-me:before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -2px;
  right: -7px;
  height: 20px;
  border-right: 20px solid #0B93F6;
  border-bottom-left-radius: 16px 14px;
}
.from-me:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -2px;
  right: -56px;
  width: 26px;
  height: 20px;
  background: white;
  border-bottom-left-radius: 10px;
}

#senderid{
  float: right;
  font-size: 0.8em;
  color: #fff;
  /*padding: 1em;*/
}
