
<form [formGroup]="resetPasswordForm">
    <div class="form-input-div rounded-pill my-2">
      <span class=""><mat-icon aria-hidden="false">person</mat-icon></span>
      <input
        type="text"
        class="text-light mt-2 mx-2"
        placeholder="Email: (example@mail.com)"
        formControlName="email"
      />
    </div>
    <div *ngIf="getEmail?.invalid && getEmail?.touched" class="bg-danger rounded-pill mb-3" style="text-align: center;">
      <small class="text-light" *ngIf="getEmail?.errors?.['required']">Email is required</small>
    </div>
  </form>
  <div class="d-grid mb-3">
    <button [disabled]="getEmail?.invalid" mat-flat-button class="rounded-pill" color="primary">
      SEND RESET LINK
    </button>
  </div>
