.form-input-div{
    background-color: rgba(0, 0, 0, 0.67);
    height: 50px;
    text-align: center;
}

.form-input-div input{
    background: transparent;
    margin-top: 3px;
    border: none;
    outline: none;
    width: 70%;
    height: 70%;
    vertical-align: bottom;
    cursor: text;
}
button{
    height: 50px;
}