<div class="bulkSMS">
  <tab-renderer
    [hasTabs]="hastabs"
    [Heading]="heading"
    [Tabs]="tabs"
    [selectTab]="activeTab"
    [focusOnLastTab]="isLastTab"
    [canSaveMessage]="saveMessage"
    [saveMsgBtnColor]="saveMsgBtnColor"
    (nextTab)="NextTab($event)"
    (prevTab)="PreviousTab($event)"
    (submit)="submitForm($event)"
    (save)="saveNewMessage()"
  >
    <div id="tabContent-1">
      <div *ngIf="formIsValid" class="alert alert-danger">
        <ul>
          <li *ngIf="getContacts?.invalid">The contact file upload field is required.</li>
          <li *ngIf="getSenderID?.invalid">The sender id field is required.</li>
          <li *ngIf="getMessageContent?.invalid">The message content field is required.</li>
          <li *ngIf="getCampaignName?.value===''&&getSavedMessages?.value===''">The campaign name field is required.</li>
        </ul>
      </div>
      {{ bulkSMSForm.value | json }}
      <form [formGroup]="bulkSMSForm">
        <div class="form-group py-3">
          <label for="languageType" class="form-label">Language Type</label>
          <select class="form-select" formControlName="languageType">
            <option
              *ngFor="let language of languages; let i = index"
              value="{{ language }}"
            >
              {{ language }}
            </option>
          </select>
        </div>

        <div class="form-group pb-3">
          <label class="form-label">Message Type</label>
          <div
            class="form-control rounded-pill"
            style="padding: 0 !important"
            readonly
          >
            <div class="form-check form-check-inline ms-3 mt-1">
              <input
                type="radio"
                class="form-check-input"
                id="text"
                value="Text"
                formControlName="messageType"
              />
              <label for="text" class="form-check-label">Text</label>
            </div>
            <div class="form-check form-check-inline mt-1">
              <input
                type="radio"
                class="form-check-input"
                id="flash"
                value="Flash"
                formControlName="messageType"
              />
              <label for="flash" class="form-check-label">Flash</label>
            </div>
          </div>
        </div>

        <div class="form-group pb-3">
          <label for="campaignName" class="form-label">Campaign Name</label>
          <input
            type="text" #campaignField
            class="form-control rounded-pill"
            formControlName="campaignName"
            [class.is-invalid]="campaignNameError"
          />
        </div>

        <div class="form-group pb-3">
          <label for="contacts" class="form-label"
            >Upload Contacts (We support the following file formats: .CSV, .TXT,
            .XLSX, .XLS)</label
          >
          <input
            type="file"
            class="form-control rounded-pill"
            formControlName="contacts"
          />
        </div>

        <div class="form-group pb-3">
          <label for="senderID" class="form-label"
            >SenderID
            <button
              class="text-warning btn btn-sm btn-dark"
              style="font-size: 0.75em; padding: 0.2em !important"
            >
              <i class="fa-solid fa-circle-plus"></i> Add New
            </button></label
          >
          <select class="form-select rounded-pill" formControlName="senderID">
            <option
              *ngFor="let ID of senderId; let i = index"
              value="{{ ID.sender }}"
            >
              {{ ID.sender }}
            </option>
          </select>
        </div>

        <div class="form-group pb-3">
          <label for="scheduleDate" class="form-label">Schedule Delivery <small>(click the calender icon)</small></label>
          <div class="input-group">
            <input
              class="form-control"
              style="
                border-top-left-radius: 3em;
                border-bottom-left-radius: 3em;
              "
              readonly
              formControlName="scheduleDate"
              matInput
              [ngxMatDatetimePicker]="datePicker"
            />
            <span class="input-group-text"
              ><mat-datepicker-toggle
                matSuffix
                [for]="$any(datePicker)"
              ></mat-datepicker-toggle
            ></span>
            <ngx-mat-datetime-picker
              #datePicker
              [showSpinners]="true"
              [showSeconds]="true"
              [enableMeridian]="true"
            ></ngx-mat-datetime-picker>
          </div>
        </div>
        <div class="form-group pb-3">
          <label for="pictureForMessage" class="form-label"
            >Add a picture to the message</label
          >
          <input
            type="file"
            accept="image/*"
            class="form-control rounded-pill"
            formControlName="pictureForMessage"
          />
        </div>

        <div class="form-group pb-3">
          <label for="savedMessage" class="form-label">Saved Messages</label>
          <select
            class="form-select rounded-pill"
            formControlName="savedMessage"
            (change)="savedMessageChanges()"
          >
            <option selected value="">---Select Message---</option>
            <option
              *ngFor="let message of savedMessages; let i = index"
              value="{{ message.campaignName }}"
            >
              {{ message.campaignName }}
            </option>
          </select>
        </div>

        <div class="form-group pb-3">
          <label
            for="messageContent"
            class="form-label"
            style="margin-bottom: 0 !important"
            >Message Content</label
          >
          <div class="row">
            <div class="col-md-8">
              <small
                *ngIf="messageIsSaved"
                class="alert alert-success px-3 py-1 rounded-pill"
                ><i class="fa-solid fa-check pe-2 h6"></i>Message saved successfully</small
              >
              <small
                *ngIf="campaignNameError"
                class="alert alert-danger px-3 py-1 rounded-pill"
                ><i class="fa-solid fa-xmark pe-2 h6"></i>Error! Campaign name is required for this action!
              </small>
              <small
                *ngIf="alreadySavedContent"
                class="alert alert-warning px-3 py-1 rounded-pill"
                ><i class="fa-solid fa-triangle-exclamation pe-2 h6"></i>This message has been saved already</small
              >
              <small
                *ngIf="messageIsEmpty"
                class="alert alert-danger px-3 py-1 rounded-pill"
                ><i class="fa-solid fa-xmark pe-2 h6"></i>Error! Can't save empty message</small
              >
            </div>
            <div class="col-md-4">
              <p style="color: brown; font-weight: 600; margin: 0 !important">
                {{ getMessageContent?.value?.length }} character(s),
                {{ msgPages }} page<span *ngIf="msgPages > 1">s</span>
              </p>
            </div>
          </div>
          <textarea
            class="form-control"
            cols="60"
            maxlength="1528"
            rows="5"
            formControlName="messageContent"
            (keyup)="msgContentKeyUp()"
            [readonly]="isReadOnly"
          ></textarea>
        </div>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4"></div>
          <div class="col-md-4 form-check">
            <input
              class="form-check-input"
              type="checkbox"
              id="removeDuplicate"
              formControlName="removeDuplicate"
            />
            <label class="form-check-label" for="removeDuplicate">
              Remove duplicates
            </label>
          </div>
        </div>
      </form>
    </div>
  </tab-renderer>
</div>
